/********************

        GENERAL

********************/

html, body {
  font-family: "roboto", sans-serif;
  color: #707278;
  overflow: hidden;
  font-size: 1em;
}

body {
  background: #222629;
  margin: 0;
  height: 100vh;
}

/********************

    GLOBAL TIMELINE

********************/

.global-timeline .global-line {
  position: relative;
  left: 5%;
  width: 1px;
  height: 100vh;
  background-color: #707278;
}

.modules > div {
  z-index: 1;
  position: absolute;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #c1c1c1;
  cursor: pointer;
  transform: translateY(-50%) translateX(-50%);
}

.modules .module-10 {
  top: calc((100% / 11) * 1);
}

.modules .module-9 {
  top: calc((100% / 11) * 2);
}


.modules .module-8 {
  top: calc((100% / 11) * 3);
}

.modules .module-7 {
  top: calc((100% / 11) * 4);
}

.modules .module-6 {
  top: calc((100% / 11) * 5);
}

.modules .module-5 {
  top: calc((100% / 11) * 6);
}

.modules .module-4 {
  top: calc((100% / 11) * 7);
}

.modules .module-3 {
  top: calc((100% / 11) * 8);
}

.modules .module-2 {
  top: calc((100% / 11) * 9);
}

.modules .module-1 {
  top: calc((100% / 11) * 10);
}


.modules > div:hover {
  background-color: #ffffff;
  transition: transform 0.15s ease-in-out;
  will-change: transform;
}

.modules > div p {
  font-family: "oswald", sans-serif;
  padding-left: 15px;
  font-size: 1.2em;
  line-height: 5px;
  color: #f4b219;
}

.modules > div[data-selection="selected"] p {
  color: #ffffff;
}

/********************

    ACTUAL POSITION

********************/

.actual-position .spaceship {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 13%;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.actual-position .spaceship img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes hovering {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

/********************

    INFORMATIONS

********************/

/*** GLOBAL INFORMATIONS ***/

.informations {
  position: absolute;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
}

.informations .details.one {
  position: relative;
  width: 60%;
  top: 0;
}

.informations .details .details-content {
  height: 100%;
}

.informations .details .details-content h1 {
  position: absolute;
  color: #f4b219;
  font-size: 6.2em;
  line-height: 100px;
  font-family: "oswald", sans-serif;
}

.informations .details .details-content h2 {
  font-size: 3.2em;
  line-height: 50px;
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  margin-left: 110px;
  color: #ffffff;
}

.informations .details .details-content {
  font-weight: 300;
  text-align: justify;
  color: #707278;
  font-family: "roboto", sans-serif;
}

.informations .details .details-content p {
  margin: 25px 0;
}

.informations .important-text {
  color: #ffffff;
}

/*** POSITION 1 ***/

.informations .details .details-content .video-archive {
  text-align: center;
}

.informations .annexes {
  position: absolute;
  top: 5%;
  width: 30%;
  right: 10%;
}

.informations .annexes h3 {
  position: absolute;
  bottom: 5%;
  left: 35%;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: "oswald", sans-serif;
}

.informations .annexes h3 span {
  color: #f4b219;
}

.informations .annexes .illustration img {
  width: 400px;
}

/*** POSITION 2 ***/

.informations .details.two {
  width: 60%;
}

.informations .details.two .details-content .video-archive {
  text-align: left;
  width: 50%;
  height: 100%;
}

.informations .annexes.two {
  width: 55%;
  top: 55%;
  right: 5%;
}

.informations .annexes.two h3 {
  top: 0;
  left: 0;
  font-size: 3em;
  color: #f4b219;
}

.informations .annexes.two p {
  margin-top: 55px;
  width: 60%;
  font-size: 0.9em;
  font-style: italic;
  text-align: justify;
}

.informations .annexes.two .baseterrestre {
  position: absolute;
  right: 0;
  top: 40%;
}

.informations .center-text {
  margin-top: 30px;
  width: 40%;
  font-size: 0.9em;
  font-style: italic;
}

/*** POSITION 2 MODIFIED ***/

.informations .details.two.modified {
  width: 80%;
}

.informations .annexes.two.modified {
  width: 50%;
  top: 50%;
  right: 5%;
}

.informations .annexes.two p.modified {
  width: 30%;
}

.informations .annexes.two .peter-thiel {
  position: absolute;
  right: 0;
  top: 10%;
}

.informations .center-text {
  bottom: 0;
}

.informations .tuyere {
  position: absolute;
  bottom: 0;
  right: 40%;
}

.informations .falcon1-plan {
  position: absolute;
  right: 6%;
  bottom: 10%;
}

/*** POSITION 8 ***/

.details.eight {
  width: 70%;
}

.details.eight .details-content h3 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #f4b219;
  font-family: "oswald", sans-serif;
}

.details.eight .details-content .reaction {
  color: #ffffff;
  font-family: "roboto", sans-serif;
  margin-bottom: 0px;
  width: 70%;
}

.details.eight .details-content .quoted {
  margin: 0;
  font-family: "oswald", sans-serif;
}

.details.eight .video-archive {
  position: absolute;
  right: 5%;
  top: 50%;
}

/********************

    SOCIAL MEDIAS

********************/

.social-medias {
  position: absolute;
  bottom: 15px;
  right: 30px;
  font-size: 2.3em;
  color: white;
}

.social-medias > div {
  display: inline-block;
  margin: 7px;
  opacity: 0.7;
  transition: transform 0.15s ease-in-out;
  will-change: transform;
}

.social-medias > div:hover {
  transform: scale(1.2);
  opacity: 1;
}

a {
  color: white;
}

a:visited {
  color: white;
}